@import "tailwindcss";

@theme {
  --font-sans: "39504", Arial, sans-serif;
  --font-neue-regular: "Neue Haas Grotesk Text Regular", Arial, sans-serif;
}

@font-face {
  font-family: "39504";
  src: url("/fonts/39504.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "39505";
  src: url("/fonts/39505.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text";
  src:
    url("./assets/fonts/NeueHaasGroteskText-Regular.ttf") format("truetype"),
    url("./assets/fonts/NeueHaasGroteskText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Regular";
  src:
    url("./assets/fonts/NeueHaasGroteskText-Regular.ttf") format("truetype"),
    url("./assets/fonts/NeueHaasGroteskText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text";
  src:
    url("./assets/fonts/NeueHaasGroteskText-Bold.ttf") format("truetype"),
    url("./assets/fonts/NeueHaasGroteskText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html,
  body,
  #app {
    min-height: 100%;
  }

  body {
    margin: 0;
    font-family: "39504", Arial, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.font-title {
  font-family: "Neue Haas Grotesk Text", Arial, sans-serif;
}

.font-hover-alt {
  font-family: "39504", Arial, sans-serif;
}

.font-hover-alt:hover {
  font-family: "39505", Arial, sans-serif;
}
